li {
  font-size: large;
}

#container {
  display: inline;
  position: relative;
  margin-left: 20px;
}


#webcam {
  position: relative;
  top: 0;
  left: 0;
  height: 200px;
  transform: rotateY(180deg);
}

#output1 {
  height: 200px;
  margin-right: 20px;
  transform: rotateY(180deg);
}