/* #Работаю за еду */

body {
    font-size: 1.5vw;
    font-family: 'Gruppo', cursive;
    background: linear-gradient(108.39deg, rgba(159, 1, 255, 0.2) 0%, rgba(195, 215, 236, 0.2) 53.26%), linear-gradient(211.63deg, #C5D9ED 51.21%, #496E96 51.92%, rgba(195, 215, 237, 0.22) 54.09%)
}

.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

header {
    width: 100vw;
    background: rgba(6, 6, 6, 0.97);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 7px 4px rgba(0, 0, 0, 0.5);
    font-size: 0.5em;
    text-align: center;
    color: #fff;
    padding: 0.5em;
}

h1 {
    line-height: 0.5em;
    display: inline-block;
    border-radius: 0.5em;
    padding: 0.5em;
    background: linear-gradient(152.97deg, rgba(21, 21, 21, 0.08) 0%, rgba(21, 21, 21, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(42px);
}

.container {
    display: grid;
    grid-template-areas: 
    "stats-header stats-header"
    "viewport photo"
    "stats-bottom stats-bottom";
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 1em;
    padding: 1em;
}

.stats-header {
    grid-area: stats-header;
    display: flex;
    align-items: center;
    column-gap: 2em;
}

.stats-item {
    border-radius: 1em;
    font-size: 1em;
    padding: 0.5em;
    line-height: 0.5em;
    background: linear-gradient(152.97deg, rgba(21, 21, 21, 0.28) 0%, rgba(21, 21, 21, 0) 100%);
}

.photo {
    grid-area: photo;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.viewport, #webcam {
    grid-area: viewport;
    /* background-color: #000; */
    height: 25.1em;
    width: 33.4em;
    border-radius: 1em;
}

.viewport, #take_photo {
    height: 15em;
}

.stats-bottom {
    grid-area: stats-bottom;
    display: flex;
    row-gap: 1em;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 770px) {
    body {
        font-size: 2vw;
    }

    .container {
        grid-template-areas: 
        "stats-header stats-header"
        "photo photo"
        "viewport viewport"
        "stats-bottom stats-bottom";
    }

    .photo {
        row-gap: 1em;
    }
}

#output1 {
    height: 350px;
    margin-right: 20px;
    transform: rotateY(180deg);
  }